<?xml version="1.0"?>
<config>
    <modules>
        <Taras_Faq>
            <version>0.1.0</version>
        </Taras_Faq>
    </modules>
    <global>
        <models>
            <taras_faq>
                <class>Taras_Faq_Model</class>
                <resourceModel>taras_faq_resource</resourceModel>
            </taras_faq>
            <taras_faq_resource>
                <class>Taras_Faq_Model_Resource</class>

            <deprecatedNode>taras_faq_mysql4</deprecatedNode>
            <entities>
                <faq>
                    <table>taras_faq</table>
                </faq>
            </entities>
            </taras_faq_resource>
        </models>
        <blocks>
            <taras_faq>
                <class>Taras_Faq_Block</class>
            </taras_faq>
        </blocks>
        <helpers>
            <taras_faq>
                <class>Taras_Faq_Helper</class>
            </taras_faq>
        </helpers>
        <resources>
            <taras_faq_setup>
                <setup>
                    <module>Taras_Faq</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </taras_faq_setup>
            <taras_faq_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </taras_faq_write>
            <taras_faq_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </taras_faq_read>
        </resources>
    </global>
    <admin>
        <routers>
            <taras_faq>
                <use>admin</use>
                <args>
                    <module>Taras_Faq</module>
                    <frontName>faq</frontName>
                </args>
            </taras_faq>
        </routers>
    </admin>
    <frontend>
        <routers>
            <taras_faq>
                <use>standard</use>
                <args>
                    <module>Taras_Faq</module>
                    <frontName>faq</frontName>
                </args>
            </taras_faq>
        </routers>
        <layout>
            <updates>
                <taras_faq>
                    <file>taras_faq.xml</file>
                </taras_faq>
            </updates>
        </layout>
    </frontend>
</config>